:root {
    --background-color-1: #FFFFF5;
    --text-color-1: #000;
    --shadow-color-1: #b3b3b3;
    --tertiary-color: #111F4D;
}

/* reset spacing */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    background-color: var(--background-color-1);
    color: var(--text-color-1);
}

header {
    position: fixed;
    top: 0;
    left: 50%; /* center horizontally */ 
    transform: translateX(-50%); /* center horizontally */
    height: 10vh;
    min-height: 40px;
    /* deducting body tag padding from header for sizing */
    width: calc(100% - (3rem * 2));
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--background-color-1);
    border-bottom: 3px solid var(--text-color-1);
    z-index: 1; /* to cover project tile hover effect */
}

main {
    margin-top: 5vh;
}

body {
    position: relative;
    padding: 3rem;
}

.social-icons {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 85px;
    width: 20%;
}

nav {
    min-width: 280px;
    width: 75%;
}

nav ul {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    column-gap: 2rem;
}

nav li {
    /* font-size: 1.3rem; */
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

/* --------------- hover effects --------------- */

/* nav links hover effect */
a {
    text-decoration: none;
    color: var(--text-color-1);
}

.hover-effect a {
    transition: .3s;
}

.hover-effect a:hover {
    text-shadow: -2px 2px 3px var(--shadow-color-1);
}

/* project tiles hover effect */
.project-tile {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    border-radius: 10px;
    transition: .3s;
}

.project-tile:hover {
    box-shadow: -2px 2px 10px var(--shadow-color-1);
    transform: scale(1.02);
}

/* --------------- hover effects end --------------- */

.project-link {
    cursor: pointer;
}

/* center sections and set max-width for readability */
/* header max-width defined separately above, due to different needs */
section {
    margin: 4rem auto;
    max-width: 700px;
}

.welcome-section {
    height: 100vh;
    min-height: 500px;
    padding: 10% 0;
    overflow: hidden;
}

.welcome-section-text {
    height: 100%;
    min-height: 300px;
    text-align: center;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.2rem;
}

.introduction-text {
    text-align: justify;
    font-size: 1rem;
    margin-top: 2rem;
}

h2 {
    margin: 1.33rem 0;
}

.skills-container {
    margin: 2rem 0;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.skill-tile {
    text-align: center;

}

.skills-container i {
    font-size: 4.5rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

/* shrinking a tag that wraps around .project-tile to resize the latter.
   this way, its hover effect doesn't exceed the navbar's size.
*/
.projects-container a {
    display: block;
    width: 95%;
}

.project-tile h3, .project-tile p, .project-tile button, .project-stack {
    margin: 0.5rem 0;
}

.project-tile img {
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: 1.25 / 1;
    object-fit: cover;
    grid-column: 1 / 4;
    border: 1px solid var(--text-color-1);
}

.project-info {
    grid-column: 4 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-stack {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.project-tech {
    padding: 0.2rem 1rem;
    font-weight: bold;
    border: 1px solid var(--text-color-1);
    border-radius: 25px;
    background-color: var(--text-color-1);
    color: var(--background-color-1);
}

/* applying margin-top to all work experience h3 elements, except the first one */
.work-experience:not(:first-of-type) h3 {
    margin-top: 1rem;
}

.work-experience ul {
    padding-left: 1rem;
}

@media (max-width: 480px) {
    html {
        font-size: 13px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        width: 100%;
    }

    .social-icons {
        width: 40%;
    }

    .welcome-section {
        height: 50vh;
    }

    .skills-container {
        justify-content: start;
    }

    .project-tile {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-title, .project-text {
        text-align: center;
    }

    .project-stack {
        justify-content: center;
    }

}

/* test */
/* #welcome-section {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */


/* test end */
