*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #161616;
    --text-color-1: #eee;
    --text-color-2: #888;
}

* {
    color: var(--text-color-2);
}

.head-logo {
    height: auto;
}

h1, h2, h3, h4 {
    color: var(--text-color-1);
    font-weight: normal;
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
}

.white-background {
    background-color: #fff;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 5%;
    max-width: 1280px;
}

.left-column {
    position: sticky;
    top: 0;
    max-height: 100vh;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.left-column,
.right-column {
    padding: 10% 0;
}

.title h3,
.title p {
    width: 70%;
}

.left-column a {
    text-decoration: none;
}

.left-column a:hover,
.project-info h3 a:hover,
.project-info p a:hover {
    text-decoration: underline;
}

.left-column li {
    list-style-type: none;
    padding: .5rem 0;
}

.nav-links {
    margin-top: 3rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons i:hover {
    color: var(--text-color-1);
}

.social-icons i {
    font-size: 2rem;
}

.right-column {
    width: 52%;
}

.right-column section h2 {
    margin-bottom: 4rem;
}

hr {
    margin: 4rem 0;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-wrapper i {
    font-size: 3.5rem;
}

.skills-wrapper p {
    text-align: center;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

}

.project-card {
    display: flex;
    justify-content: space-between;
}

.project-link {
    text-decoration: none;
    color: #000;
}

.project-info {
    padding-right: 1rem;
}

.project-info h3 a {
    color: var(--text-color-1);
}

.project-info p a {
    color: var(--text-color-2);
}

.project-text,
.education-wrapper p,
.experience-card li {
    font-size: .9rem;
}

.project-image {
    min-width: 230px;
    min-height: 140px;
    width: 230px;
    height: 140px;
    border-radius: 5px;
}

.project-tech-stack {
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    gap: .23rem .3rem;
}

.project-tech {
    color: var(--background-color);
    background-color: var(--text-color-2);
    font-size: .9rem;
    border-radius: 15px;
    padding: 0.2rem .7rem;
}

.experience-card {
    margin-bottom: 3rem;
}

.experience-card h4 {
    margin-bottom: .5rem;
}

.experience-card li {
    list-style-type: none;
    margin-bottom: .3rem;
}

.education-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact-form textarea {
    height: 7rem;
}

.contact-form .button {
    background-color: var(--text-color-2);
    color: var(--background-color);
    width: 10rem;
    height: 2rem;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

.contact-form .button:hover {
    cursor: pointer;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1050px) {
    .column-wrapper {
        flex-direction: column;
    }

    .left-column {
        position: relative;
        max-width: 100%;
        width: 100%;
    }

    .right-column {
        max-width: 100%;
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .social-icons {
        margin-top: 2rem;
    }
}